<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Reminders</h1>
                <h2>Tasks</h2>
            </div>
            <tbody>
                {% for task in todo_list_detail %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.due_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </main>
    </body>
</html>
